.planets-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../../assets/images/stars.jpg);
    background-repeat: repeat;
    padding: 15px;
}

.logo{
    width: 350px;
}

.planet-title{
    color: white;
    width: 100%;
    padding: 10px;
    background-color: rgba(0,0,0,0.9);
    border: 1px solid gray;
    text-align: center;
    margin-bottom: 20px;
}

.planets-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
.planet-card{
    width: 100%;
    background-color: rgba(0,0,0,0.9);
    border: 1px solid gray;
    padding: 10px;
}
.planet-card .title{
    color: white;
    padding: 10px 5px;
    border: 1px solid rgb(67, 67, 67);
    font-size: 20px;
    background-color: #1b1b1b;
}
.planet-card p{
    color: white;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 5px;
}
.planet-card h6{
    color: white;
    font-size: 20px;
    padding: 10px 5px;
}

.no-results{
    color: white;
    font-size: 20px;
    margin-top: 30px;
}

@media screen and (max-width: 1200px){
    .planets-grid{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (max-width: 991px){
    .planets-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 768px){
    .planets-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .logo{
        width: 250px;
    }
}
@media screen and (max-width: 576px){
    .planets-grid{
        grid-template-columns: 1fr;
    }
    .planet-title{
        font-size: 22px;
    }
}