.homepage-container{
    position: relative;
    overflow-x: hidden;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.bckg-img{
    position: absolute;
    height: 100vh;
    min-width: 100%;
    z-index: 1;
}